*{
    margin: 0;
    padding: 0;
}
.home{
    padding:0 40px;
    min-height: 100vh;
    /* background: linear-gradient(to right,#64c0fa 25% , #cee3ee 75%); */
    background: radial-gradient(#eef3f3,#c9f3ed);
    perspective: 10px;
}
.preface{
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.text{
    flex-basis: 50%;
}
.text h1{
    text-shadow: 5px 2px 2px #c0c0c0;
    transform: translateZ(-10px);
}
.picture{
    flex-basis: 50%;
    /* align-content: center; */
}
.picture img{
   width: 100%;
   max-width:350px;
    border-radius: 50%;
}
.name{
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: 700;
    color: #0c344d;
}
.profession{
        padding-top: 30px;
        font-size: 24px;
        color:#0c344d;
}
.exploreBtn{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: #0c344d;
    transition: 0.5s;
    border-radius: 5px;
    border: 2px solid #13395b;

}
.exploreBtn:hover{
    background-color: #0c344d;
    color: white;
}
@media only screen and (max-width: 700px){
   .preface{
    width: 75%;
    padding: 0 12.5%;
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
   }
   .home{
    padding: 40px 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(0.25turn,#cfd9df , #e2ebf0);
    /* background: linear-gradient(0.25turn, #62a6bf7e,#9ac4d27e); */
}
   .picture{
    width: 100%;
    display: inline-block;
    /* height: 100%; */
    margin-bottom: 20px;
   }
   .picture img{
    width: 75%;
    height: 100%;
    margin: 0 12.5%;
   }
   .name{
    width: 100%;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #0c344d;
    text-align: center;
   }
   .profession{
    padding-top: 30px;
        font-size: 18px;
        text-align: center;
        color:#0c344d;
   }
   .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .exploreBtn{
    border-radius: 5px;
   }
   
} 
